{% extends "jeffreyvwong/base.html" %}
{% block head %}
        <style>
            a:link, a:visited{
                text-decoration: none;
                outline: 0;
            }
        </style>
{% endblock head %}

{% block title %}Home {{ block.super }}{% endblock title %}

{% block meta_description %}
    <meta name="description" content="Main navigation page with links to my publications, work
                  involving mathematical modeling along with efforts in teaching, analytics and data visualization" />
{% endblock meta_description %}

{% block content %}

    <div class="topic-list">

        <div class="topic-container">
            <a href="{% url 'jeffreyvwong_visualization' %}" name="visualizations"><h2 class="home-subsection-title">#Visualization</h2></a>

          <figure class="effeckt-caption shadow" data-effeckt-type="cover-fade">
                <img class="topic" src="/static/jeffreyvwong/images/panels/household.jpg" alt="">
                <figcaption>
                    <a class="effeckt-figcaption-link" href="{% url 'jeffreyvwong_visualization' %}">
                        <div class="effeckt-figcaption-wrap">
                            <p>
                                Samples of visualization
                            </p>
                        </div>
                    </a>
                </figcaption>
            </figure>
        </div>



        <div class="topic-container">
            <a href="{%  url 'jeffreyvwong_modelling' %}" name="modelling"><h2 class="home-subsection-title">#Modelling</h2></a>

            <figure class="effeckt-caption shadow" data-effeckt-type="cover-fade">
                <img src="/static/jeffreyvwong/images/panels/flow.jpg" alt="">
                <figcaption>
                    <a class="effeckt-figcaption-link" href="{% url 'jeffreyvwong_modelling' %}">
                        <div class="effeckt-figcaption-wrap">
                            <p>Work from industry and academia in mathematical modelling</p>
                        </div>
                    </a>
                </figcaption>
            </figure>
        </div>

        <div class="topic-container">
            <a href="{% url 'jeffreyvwong_publication' %}" name="publication"><h2 class="home-subsection-title">#Publications</h2></a>

              <figure class="effeckt-caption shadow" data-effeckt-type="cover-fade">
                <img src="/static/jeffreyvwong/images/panels/cellcover.jpg" alt="">
                <figcaption>
                    <a class="effeckt-figcaption-link" href="{% url 'jeffreyvwong_publication' %}">
                        <div class="effeckt-figcaption-wrap">
                            <p>Published work in experimental and computational biology</p>
                        </div>
                    </a>
                </figcaption>
            </figure>
        </div>

    </div>


{% endblock content %}

 