{% extends "jeffreyvwong/base.html" %}

{% block title %} {{ block.super }} | Snippet {% endblock title %} 

{% block head %}
<link rel="stylesheet" type="text/css" href="/static/jeffreyvwong/css/pygments.css">
{% endblock head %}


{% block content %}
   
<div class="snippet-detail-container">
     
    <h2 class="snippet-title">
        {{ object.title }}
    </h2>

    <!--<iframe scrolling="no" marginheight="0" marginwidth="0" src="">-->
    <!--</iframe>-->
     <!---->
     <p class="snippet-description">               
          {{ object.description_html | safe }}             
     </p>

    <p class="snippet-highlighted_code">
          <!--<span class="snippet-language"> {{ object.language.name }} </span>             -->
          {{ object.highlighted_code | safe }}             
     </p>
     
     <p class="snippet-date">
          <span class="snippet-date">{{ object.pub_date | date:"F j, Y" }}</span>           
     <p>
          
</div>


{% endblock content %}
 