/*----------------------------
	Global styles
-----------------------------*/

    body {
        position: relative;
        margin:  10px 0px 0px;
        padding:0px;
        font-family: "Helvetica Neue";
        font-family: sans-serif;
        font-size: 16px;
        z-index:0;
    }

    ul.listtype_none {
        list-style-type: none;
    }

    ul.square li{
        list-style-type: square;
    }

    ul.circle li{
        list-style-type: circle;
    }

    p.indent{
        text-indent: 50px;
    }


/*----------------------------
      Begin: Content
-----------------------------*/
.content a:link, a:visited{
  color     : #000000;
  outline   : 0;
}

.content{
}

/*----------------------------
      End: Content
-----------------------------*/



/*----------------------------
      Begin: Home
-----------------------------*/
/*----------------------------
      End: Home
-----------------------------*/


/*----------------------------
	Begin: footer 
-----------------------------*/

  .footer a:link, a:visited{
    color: #9d9573;
    text-decoration: none;
    outline: 0;
  }

  .footer.contact a:link, a:visited{
    color: #343434;
    text-decoration: none;
    outline: 0;
  }

  .footer{
    height     : 100%;
    width      : 80%;
    max-width  : 800px;
    margin     : 0px auto 25px;
    padding    : 5px 15px;
  }

  .footer table{
    margin: 0px auto;
    width: 75%;
  }

  .footer td{
    font-size: 0.9em;
    text-align: center;
    width: 16%;
    background: none;
  }


/*----------------------------
	End: footer
-----------------------------*/

